<!-- templates/cadastrar_cliente.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Cadastrar Cliente</title>
</head>
<body>
    <h2>Cadastrar Novo Cliente</h2>
    <form method="post" action="{% url 'cadastrar_cliente' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Cadastrar</button>
    </form>
    <a href="{% url 'veiculos_list' %}" class="btn btn-secondary m-1">Voltar para Lista de Clientes</a>
</body>
</html>
