{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sistema de Mecânica</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>
<body>

<header>
    <nav class="navbar navbar-light" style="background-color: #002153;">
        <div class="container-fluid justify-content-center">
            <span style="color: white;" class="navbar-brand mb-0 h1">MENU</span>
        </div>
    </nav>
</header>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Configurações Gerais</h5>
                    <p class="card-text">Visualize informações sobre veículos, peças, clientes e serviços.</p>
                    <a href="{% url 'veiculos_list' %}" class="btn btn-primary">Ver Detalhes</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Ordens de Serviço</h5>
                    <p class="card-text">Acompanhe informações sobre ordens de serviço.</p>
                    <a href="{% url 'ordens_servico' %}" class="btn btn-primary">Ver Detalhes</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Mecânicos e Equipe</h5>
                    <p class="card-text">Descubra detalhes sobre mecânicos e equipe.</p>
                    <a href="{% url 'listar_mecanicos' %}" class="btn btn-primary">Ver Detalhes</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>
</html>

{% endblock %}
